html{
  --blue: #0049d4;
  --marine-blue: #002468;
  --navy-blue:#001b4f;
  background-image: linear-gradient(to bottom, var(--blue), var(--blue), var(--marine-blue), var(--navy-blue));
}

.App {
  text-align: center;
  min-height: 100vh;
  margin: 0px;
  color: white;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 79px 104px;
}

.header-logo{
  width: 217px;
  height: 53px;
}

.login-link{
width: 255px;
height: 26px;
font-family: Rubik;
font-size: 20px;
text-decoration: none;
color: white;
}

.register-button {
  width: 160px;
  height: 65px;
  border-radius: 62.5px;
  background-color: white;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  color: var(--blue);
}

.wufph{
  font-size: 65px;
  font-family: Rubik;
}



a{
  margin: 10px;
}

svg{
  width: 50px;
  height: 50px;
}

img{
  width: 200px;
  height: 200px;
}

.profile-section{
  border: solid 1px grey;
}