.community{
  display: flex;
  justify-content: center;
}
.community-display{
  border-radius: 6px;
  box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 1032px;
  padding: 36px;
  text-align: left;
}

.community-card{
  display: flex;
  flex-direction: row;
  min-height: 84px;
  margin: 0px 0px 36px 0px;
}

.community-card > * {
  margin: 0px 20px 0px 0px;
  color: black;
  text-align: left;
}

.community-card-section{
  width: 25%;
}

.community-card-section > a {
  color: black;

}

.community-header{
  color: #6c6c6c; 
}

.interest-tag-container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.interest-tag{
  height: 23px;
  margin: 2px 5px;
}