.profile-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profiles-list{
  margin: 0px 20px;
  width: 20%;
  background-color: #3f3f3f;
  border-radius: 6px;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #3f3f3f;
  background-color: #3f3f3f;
}

.prof-list-link{
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  text-decoration: none;
  color: white;
}

.profile{
  background: white;
  color: black;
  text-align: left;
  margin: 0 20px;
  padding: 10px 20px;
  width: 803px;
  height: 612px;
  border-radius: 6px;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
}

.profile-section{
  margin: 17px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile-top{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}


.quick-info{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin:0px;
}

.profile-bottom{
  display: flex;
  flex-direction: row;
}

.profile-details{
  width: 50%;
}

.profile-links{
  display: flex;
  flex-direction: column;

  width: 50%;
}


.pic-large{
  width: 90px;
  height: 84px;
  object-fit: cover;
  margin: 0px 10px 0px 0px;
  border-radius: 6px;
}

.pic-small{
  width: 43px;
  height: 43px;
  object-fit: cover;
  margin: 0px 10px 0px 0px;
}

.section-header{
  font-weight: bold;
  margin: 0px;
}

.section-icon{
  width: 35px;
  height: 35px;
  margin: 0px 10px 0px 0px;
}

.social-svg{
  height: 25px;
  width: 25px;
  fill: #ca81ff;
  margin: 0px 15px 0px 0px;
}


.interest-tag{
  background-color: #ca81ff;
  color: white;
  text-decoration: none;
  padding: 3px 5px;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 1.33;
  margin: 0px 5px 0px 0px;
}

.tag-container{
  margin: 10px 0px;
}

.social-inputs{
  display: flex;
  flex-direction: column;
}

input{
  width: 250px;
  margin: 10px 0px 0px 0px;
}

.my-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}